body{
    width: 100%;
    min-width: 1200px;
    font-family: sans-serif;
}
.container{
    width: auto;
    margin: 0 auto;
}
.header{ 
    background: url(../step-img/background-img/background-header.jpg) fixed no-repeat;
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    background: rgba(94, 93, 88, 0.6);
    height: 100px;
}
.navigation-list{
    display: flex;
    padding-top: 40px;
    padding-right: 100px;
}
.navigation-item{
    padding-right: 20px;
    font-weight: bold;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
}
.navigation-link:hover{
    display: flex;
    color:#18CFAB ;
    text-align: left;
    color: #18CFAB;
    height: 60px;
    border-bottom: 2px solid #18CFAB ;
}

.navigation-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.logo{
    display: flex;
    padding-top: 25px;
    font-size: 32px;
line-height: 48px;
padding-left: 200px;
color: #18CFAB;
}
 .logo-sign{
 background-image:url(...step-img/background-img/background-header.jpg) ;
} 
span{
    color:white;
}
.logo-sign{
    font-weight: bold;
font-size: 40px;
line-height: 31px;
padding-top: 10px;
    color: white;
}
.slogan{
    padding-top: 150px;
    text-align: center;
    color: white;
}
.wordpress{
    display: flex;
    justify-content: center;
    font-weight: bold;
font-size: 35px;

}
.wordpress-green{
    color: #18CFAB;
    padding-left: 10px;
}
.creativ{
    padding-top: 20px;
    font-weight: bold;
font-size: 78px;
text-transform: uppercase;
}
.buy-and-enjoy{
    font-family: serif;
    padding-top: 20px;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.6);
}

.explore-butt{
    margin-top: 150px;
    margin-bottom: 200px;
    width: 169px;
    height: 63px;
    border: none;
background: #18CFAB;
border-radius: 5px;
}
.purchase-butt{
    margin-top: 150px;
    margin-bottom: 200px;
    width: 169px;
    height: 63px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
background: #00CBF6;
}
.button-link{
    color: white;
    font-weight: bold;
}
button{
    margin: 26px;
}
.explore-butt:hover,
.purchase-butt:hover{
    border-top: 4px solid white;
}
.main-list{
    display: flex;
    margin-top: 10px;
}
.black{
    width: 482px;
height: 377px;
    background: #1C2A33;
    text-align: center;
}
.green{
    width: 482px;
height: 377px;
text-align: center;
    background:#18CFAB ;
}
.hand-pointer{
    margin: 0 auto;
    margin-top: 80px;
    fill:#18CFAB ;
}
.text-black{
    font-weight: bold;
font-size: 20px;
line-height: 24px;
margin-top: 45px;
text-transform: uppercase;
    color:#18CFAB ;
}
.text-green{
    font-weight: bold;
font-size: 20px;
line-height: 24px;
margin-top: 20px;
text-transform: uppercase;
color: white;
}
.dimond{
    margin-top:105px ;
}
.lamp-svg{
    margin-top: 80px;
}
.devices{
    margin-top: 100px;
}


.services{
    margin-top: 80px;
    text-align: center;

}
.our-services{
    font-family:sans-serif;
    font-size: 36px;
line-height: 40px;
color: #4E4E4E;
}
.services-list{
    display: flex;
    justify-content: center;
    height: 150px;
}
.services-list-item{
    cursor: pointer;
    margin-top:  90px ;
    font-size: 15.9859px;
line-height: 39px;
padding-top: 10px;
padding-left: 45px;
padding-right: 45px;
background: #F8FCFE;
border: 1px solid #EDEFEF;
}
.our-services {
    position: relative;
}
.services-list-item:hover{
    border:1px solid #18CFAB ;
}
.our-services::before{
    content: "";
    width: 71px;
    position: absolute;
    left:590px;
    bottom: -25px;
    display: block;
    border-bottom: 2px solid #18cfab;

}
.our-services::after{
    content: "";
    width: 71px;
    position: absolute;
    left:610px;
    bottom: -30px;
    display: block;
    border-bottom: 2px solid #18cfab;
}

.services-description{
    display: flex;
}
.services-description{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.services-content{
    display: flex;
    justify-content: center;
    font-size: 13.645px;
line-height: 24px;
    width: 900px;
    height: 150px;
}
.services-list-item.active{
    text-align: center;
    background-color: #18cfab;
    color: #d1f5ee;

}
.services-item.active::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #18cfab;
    margin-top: 53px;

}
.services-list-item.active{
    text-align: center;
    background-color: #18cfab;
    color: #d1f5ee;

}

    

.services-content.active{
    display: block;
    display: flex;
    justify-content: center;
    font-size: 16px;
line-height: 24px;
    width: 1000px;
    height: 150px;
    padding-bottom: 50px;

}
.services-content{
    display: none;
}

.buy-and-instal{
    background:url(../step-img/background-img/buy-instal.png);
    text-align: center;
    height: 476px;
}

.buy-instal-title{
    padding-top: 125px;
    color:#18CFAB ;
    font-weight: bold;
font-size: 40px;
line-height: 40px;
}
.buy-and-instal-subtitle{
    padding-top: 15px;
    color: white;
}

.buy-now-btn{
    cursor: pointer;
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: bold;
font-size: 15px;
line-height: 32px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 168px;
height: 63px;
background: #18CFAB;
}
.buy-now-btn:hover{
    border-top: 4px solid white;
}

.amazing-works{
    text-align: center;
    background: #E5E5E5;
}
.our-amazing-work-title{
    position: relative;
    padding-top: 90px;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.our-amazing-work-title::before{
    content: '';
    width: 60px;
    position: absolute;
    left: 590px;
    bottom: -25px;
    display: block;
    border-bottom: 2px solid #18cfab;
}
.our-amazing-work-title::after{
    content: '';
    width: 60px;
    position: absolute;
    left: 610px;
    bottom: -30px;
    display: block;
    border-bottom: 2px solid #18cfab;
}

.our-amazing-work-list{
    padding-top: 95px;
    display: flex;
    justify-content: center;
}

.our-amazing-work-item{
    padding-left: 30px;
    font-size: 14px;
line-height: 42px;
    border: 1px solid  #DADADA;;
    padding-right: 45px;
    color: #717171;
    
}
.our-amazing-work-item:hover{
    color:#18CFAB  ;
    border:1px solid #18CFAB ;
   cursor: pointer;
}
.amazing-img-hover{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img{
     position: relative; 
  
}
.img-hover-items{
    text-align: center;
     border-top: 3px solid #18CFAB ;
    visibility: visible;
    /* position: absolute; */
    transition: visibility 0.3s linear,opacity 0.3s linear;
    opacity: 0;
    padding-bottom: 25px;
    background-color: white;
}
.img:hover .img-hover-items {
    content: "";
    visibility: visible;
    opacity: 1;
}
.amazing-img-background-wd1{ 
    
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design1.jpg);
     width: 285px;
height: 211px;
}
.amazing-img-background-gd1{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design2.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-lp1{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design3.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-gd2{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design4.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-wd2{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design5.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-lp2{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design6.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-gd3{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design7.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-wd4{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design8.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-wp1{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design9.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-gd4{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design10.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-wp2{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design11.jpg);
    width: 285px;
    height: 211px;
}
.amazing-img-background-wp3{
    /* border-top: 3px solid #18CFAB ; */
    background-image: url(file:///C:/Users/%D0%90%D0%BD%D1%82%D0%BE%D0%BD/Desktop/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%B8/DAN-IT%20Homeworks/pe_35_homeworks-from-anton/Step%20project%20Ham/Step%20Project%20Ham/graphic%20design/graphic-design12.jpg);
    width: 285px;
    height: 211px;
}

.hover-text{
    text-transform: uppercase;
    font-weight: bold;
font-size: 18px;
line-height: 25px;
padding-top: 30px;
    color: #18CFAB;
}
.hover-undertext{
    font-size: 16px;
line-height: 25px;
    color: #8A8A8A;
}
.icons-hover{
   
    padding-top: 60px;
}


    
.hide{
    display:none;
     animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes a1{
    to{
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
        padding-top: 0;
    }
}

.amazing-works-img{
    padding-top:85px ;
}

.add-more{ 
    cursor: pointer;
    font-weight: bold;
font-size: 20px;
line-height: 42px;
color: white;
    border-radius: 5px;
    border: none;
    width: 168px;
height: 63px;
    margin-top: 70px;
    background: #18CFAB;
    margin-bottom: 100px;
}


.breaking-news-title{
    padding-top: 80px;
    font-size: 36px;
line-height: 40px;
text-align: center;
position: relative;
}
.breaking-news-title::before{
    content: '';
    width: 60px;
    position: absolute;
    left: 590px;
    bottom: -35px;
    display: block;
    border-bottom: 2px solid #18cfab;
}
.breaking-news-title::after{
    content: '';
    width: 60px;
    position: absolute;
    left: 610px;
    bottom: -40px;
    display: block;
    border-bottom: 2px solid #18cfab;
}

.breaking-news-line{
    display: flex;
    padding-top: 100px;
    justify-content: center;
  
}
.breaking-news-under{
    display: flex;
    justify-content: center;
    padding-top: 110px;
}
.breaking-news-img{
    padding-right: 30px;
}
.description-text{
    font-weight: bold;
font-size: 17.9885px;
line-height: 39px;
color: #717171;
}
.text-under-description{
    font-size: 13.991px;
line-height: 39px;
color: #777777;
}
.breaking-news-img1,.breaking-news-img2,.breaking-news-img3,.breaking-news-img4,.breaking-news-img5,.breaking-news-img6,.breaking-news-img7,.breaking-news-img8{
    position: relative;
}

.img-calendar{
    width: 70px;
    height: 70px;
    background: #203e38;
    position: absolute;
    top: 0;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.calendar-month{
    padding-top: 10px;
}
.by-admin-pseudo{
    position: relative;
    margin-right: 20px;
    color: #777777;
}
.by-admin-pseudo::after{
    content: "";
    padding-right: 20px;
    border-right: 2px solid #d6d9da;

}
.full-content:hover .img-calendar{
    background-color: #18CFAB;
    
}
.full-content:hover .description-text{
    color: #18CFAB;
}


.what-people-say-about-theham{
    background: url(../step-img/background-img/section-3.jpg) ;
}
.theham-title{
    position: relative;
    text-align: center;
    font-size: 36px;
line-height: 40px;
padding-top: 100px;
color: #FFFFFF;
}
.theham-title::before{
    content: '';
    width: 60px;
    position: absolute;
    left: 590px;
    bottom: -35px;
    display: block;
    border-bottom: 2px solid #18cfab;
}
.theham-title::after{
    content: '';
    width: 60px;
    position: absolute;
    left: 610px;
    bottom: -40px;
    display: block;
    border-bottom: 2px solid #18cfab;
}
.theham-text{
    text-align: center;
    font-weight: 300;
font-size: 16px;
line-height: 30px;
    padding-top: 50px;
    color: #BBBBBB;
}
.svg-theham{
    padding-top: 100px;
   text-align: center;
}
.name-job{
    text-align: center;
}
.name-persone{
    padding-top: 35px;
    font-weight: bold;
font-size: 20px;
line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}
.job-persone{
    padding-top: 20px;
    font-size: 15px;
line-height: 10px;
color: #BBBBBB;
}
.persone-photo{
    text-align: center;
    padding-top: 50px;
}
.img-persone{
    border: 8px solid  rgba(24, 207, 171, 0.3); 
    border-radius:90px ;
    width: 143px;
height: 142px;
}


.complite-element{
    display: none;
}
.elem-active{
    display: contents;
}
.list-with-photo{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.list-photo-item{
    padding-right: 35px;
}
.img-list{
     border: 8px solid  rgba(24, 207, 171, 0.3); 
    border-radius:90px ;
    width: 58px;
height: 58px;
}
.btn-scroller{
    width: 31px;
    height: 31px;
    color: #b9b9b9;
    text-align: center;
    border: 1px solid #bbbbbb;
    background: transparent;
    cursor: pointer;

}
.arrow{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
   
}
.list-scroller-left{
    margin-right:50px ;
}
.left{
     transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.btn-scroller:hover{
    color: #fff;
    border: 1px solid #18cfab;
    background: #18cfab;

}
.dot-active{
    margin-bottom: 50px;
}

.footer-background{
    
    height: 50px;
    width: 100%;
    background: #22353F;
}
.the-ham-foot-text{
    font-weight: 300;
font-size: 14px;
line-height: 26px;
    padding-top: 20px;
    text-align: center;
    color: #AEAEAE;
}
