body{
    background: url(milan-img/background.png );
    background-repeat: no-repeat;
    font-family:sans-serif ;
}
.container{
   width: 1020px;
   margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 50px;
}
.nav-logo{
    display: flex;
    align-items: center;
    color: white;
   
}
.nav-logo:hover .nav-img{
    content: url(milan-img/logo2.svg);

}
.nav-logo:hover{
    content: "";
    color: #F26522;

}   

.nav-title-milan{
    font-weight: bold;
font-size: 29px;
line-height: 29px;
padding-left: 8px ;
}
.nav-title-holidays{
    font-weight: bold;
font-size: 18px;
line-height: 18px;
margin-top: 5px;
padding-left: 8px ;
}
.nav-info{
    text-align: end;
}
.nav-info-amail{
    font-size: 18px;
line-height: 18px;
margin-bottom: 20px;
}
.nav-info-amail:hover,
.nav-info-number:hover{
    content: "";
    color:  #F26522;
    
}
.main-info{
    display: grid;
    grid-template-columns:repeat(3,300px ) ;
    column-gap: 60px;
    margin-top: 22px;
   
    align-items: center;
    justify-content: center;
    text-align: center;
     color: white;
}
.img-title{
    color: white;
    padding-bottom: 35px;
}
.img-title:hover{
    content:"";
    color:  #F26522;
}
.footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 12px;
line-height: 12px;
    color: white;
}
.img-wrap{
    background-image: url("milan-img/image.png");
    position: relative;
    width: 300px;
    height: 220px;
}
.sals-info{
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    position: absolute;
    transition:visibility 0.3s linear,opacity 0.3s linear; 
    opacity: 0;
    height: 55px;
    width: 100%;
    bottom: 0;
   background-color:  #F26522;
}
.price, .details{
    color: white;
    padding-left: 16px;

}
.form{
    padding-top:7px ;
    font-size: 10px;
line-height: 10px;
}
.euro{
    padding-top: 8px;
    font-size: 20px;
line-height: 20px;
}
.details{
    padding-top: 30px;
    padding-right: 35px ;
    font-size: 14px;
line-height: 14px;
/* border: solid white;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg); */
}
/* .arow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
} */

.shoping-info:hover .sals-info{
visibility: visible;
 opacity: 1;
}
.img-shopping{
    background-image: url("milan-img/shopping.png");
    position: relative;
    width: 300px;
    height: 220px;
}
.sals-info-shopping{
    display: flex;
    justify-content: space-between;
    position: absolute;
    visibility: hidden;
    transition: visibility 0.3s linear,opacity 0.3s linear;
    opacity: 0;
    height: 55px;
    width: 100%;
    bottom: 0;
    background-color:#F26522 ;
}
.sightseeing:hover .sals-info-shopping{
    visibility: visible;
    opacity: 1;
}
