body{
    font-family: sans-serif;
    background-image: url("sign-up-img/fon.png");
    background-repeat: no-repeat;
  
}


.header{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 80px;
    background: rgba(0, 0, 0, 0.4);
}
.svg-sign-up{
    display: flex;
    padding-right: 80px;
    
}
.svg-img{
    padding-right: 25px;
}
.header-welcome{
padding-top: 5px;
    font-size: 14px;
line-height: 14px;
    color: white;
    padding-left: 20PX;

}
.journey:hover{
    color:#01813F ;
}
.log-in-header:hover{
    color: #01813F;

    
}
.log-in{
    color:#01813F ;
}
.log-in:hover{
   color:#01813F ; 
    text-decoration: underline ;
}
.svg-link:hover .svg-img{
    fill: #01813F;
}
.main{
    padding-top: 35px;
   height: 585px;
   
    width: 450px;
     margin-top: 50px;
     position: absolute;
     top: calc(50% - 170px);
     left: 0;
     right: 0; 
     margin:0 auto;
    background-color: white;
}
a{
    color: white;
    text-decoration: none;
}
.journey{
    padding-left: 80px;
    font-weight: bold;
font-size: 22px;
line-height: 22px;
}

.container{
    margin: auto;
    width: 325px;
   
}
.main-title-info{
    display: flex;
    justify-content: space-between;
    /* padding-top: 5px; */
}
/* .social-button{
    max-width: 160px;
    max-width: 160px;
    min-width: 160px;
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: auto;
    background: green;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
} */

.buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.facebook{
    display: flex;
    justify-content:center;
    border: none;
    border-radius: 4px;
    width: 160px;
height: 50px;
line-height: 0;
background-color:  #305DB8;
}
.facebook:hover{
    background: #022263 ;
}
.facebook-logo{
    padding-left: 15px;
    width: 30px;
    height: 19px;
   padding-top: 13px;
   padding-right: 38px;
   
}
.facebook-text{
    padding-right: 20px;
    padding-top: 13px;
    font-size: 16px;
line-height: 16px;
    color: white;
}


.google{
    display: flex;
    justify-content:center;
    border: none;
    border-radius: 4px;
    width: 160px;
height: 50px;
background-color: #DF4A32;
}
.google:hover{
    background: #AB1F09 ;
}
.google-logo{ 
    padding-left: 15px;
     width: 30px;
     height: 19px;
    padding-top: 13px;
    padding-right: 38px;
}

.google-text{
    padding-right: 25px;
   padding-top: 13px;
    font-size: 16px;
line-height: 16px;
    color: white;
}

.or{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #848484;
    position: relative;
}
/* .or::before{
width: 152px;
height: 2px;
background:linear-gradient(0deg,#F2F2F2,#F2F2F2 )#F2F2F2 ;
content: "";
/* display: inline-block; */

.forms{
    padding-top: 15px;
}
input, textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
    }
.entry-field{
    font-size: 14px;
line-height: 14px;
    padding-left: 20px;
    margin-bottom: 15px;
    width: 100%;
    height: 46px;
    font-size: 14px;
line-height: 14px;
/* border: 1px solid #F2F2F2;
border-radius: 4px; */

}
.entry-field:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);   
}
.checkbox{
    font-size: 14px;
line-height: 14px;
    color: black;
}
.checkbox:hover,.span{
    

}
span{
    color: #01813F;
}
 .span:hover{
    text-decoration: underline;
}
.main-button{
    padding-top: 20px;
}
.button-create{
    /* padding-top: 20px; */
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    color: white;
}
.button-create:hover{
    background:  #01813F;
}