* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}.red-head {
    text-align: center;
    word-spacing: 72px;
    font-family: sans-serif;
font-style: normal;
font-weight: bold;
color: #FF0000; 
font-size: 18px;
line-height: 18px;
text-transform: uppercase;

 }
 .red-head-item{
     display: inline-block;
     margin-top: 30px;
 }
 .red-head-link {
     text-decoration: none;
     color: #FF0000;
 }
.img {
  width:100% ;
margin-top:  78px;


}
h2 {
text-align: center;
text-transform: uppercase;
font-weight: bold;
font-family: sans-serif;
margin-top: 50px ;
word-spacing: 4px;
color: #373737; 
}
.text-center{
    text-align: center;
    margin-top: 40px;
    margin-left: 68px;
    margin-right: 68px;
    font-size: 16px;
line-height: 26px;
font-family: sans-serif;
letter-spacing: 3px;
color: #373737;
}

.button {
  color: white;  
background-color: red;
width: 191px;
height: 51px;
left: 544.5px;
top: 557px;
margin-top: 66px;
margin-left: 40%;
font-size: 12px;
line-height: 12px;

}
.content-footer{
    text-align: end;
    margin-top:82px ;
margin-bottom: 30px;
}
.right-info{
    font-size: 16px;
line-height: 20px;
color : #373737;
font-family:sans-serif ;

text-decoration: none;
}