body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    font-family: sans-serif;
}
section{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 800px;
    font-size: 500%;
    font-weight: 600;
    word-spacing: 30px;
    line-height: 250%;
    perspective: 400px;
     color: #feda4a;
}
.fade{
    position: relative;
    width: 100%;
    height: 450px;
    top: -25px;
    background-image: linear-gradient(0deg,transparent, black 75%);
}
.container{
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: starwars 30s infinite;
}
@keyframes starwars{
    0%{
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }
    100%{
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);

    }
}
.intro{
    font-size:90%;
    text-align: center;
}
