body {
    font-family: sans-serif;
  }
  a{
      text-decoration: none;
  }
  
  .header-background {
    background-image: url(design,img/HeaderBeckground.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  .navigation {
    display: flex;
    background: #313131;
    justify-content: center;
    margin-bottom: 163px;
  }
  
  .navigation-title {
    margin-right: auto;
    display: flex;
  }
  
  .header-logo {
    padding: 22px 0px 22px 27px;
  }
  
  .title-logo {
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    padding: 22px 27px;
    font-weight: bold;
  }
  
  .navigation-list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navigation-list-item {
    padding: 27px 35px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    transition: all 500ms;
  }
  
  .navigation-list-item:hover {
    color: #14b9d5;
  }
  
  .search-img {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 25px;
    background: #000000;
  }
  
  .header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-title {
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #ffffff;
  }
  
  .header-button-left {
    padding: 17px 19px;
    border: none;
    background: #89ca62;
  }
  
  .header-button-rigt {
    margin-bottom: 74px;
    margin-left: 20px;
    padding: 17px 30px;
    border: none;
    background: #14b9d5;
  }
  
  .header-button-link {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }
  
  .hotel-bacground {
    background: #f2f2f2;
  }
  
  .main-title {
    padding-top: 49px;
    margin-bottom: 52px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18b4cf;
    text-align: center;
  }
  
  .hotel-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 900px;
   
  }
  
  .hotel-post {
    width: 370px;
    margin-left: 30px;
  }
  
  .hotel-post-title {
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #353a3d;
    text-align: center;
    padding: 20px 40px;
    background-color: #ffffff;
  }
  
  .clients-background {
    background-image: url(design,img/parallax-bg.jpeg);
    background-position: center;
    box-shadow: 0 0 0 300px rgb(0 0 0 / 33%) inset;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .clients-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 115px;
    margin-bottom: 100px;
  }
  
  .clients-title::after {
    content: "";
    border-bottom: 3px solid #18b4cf;
    width: 60px;
    display: block;
    margin: 87px auto 0 auto;
  }
  
  .clients-logo {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    grid-column-gap: 54px;
    justify-content: center;
    align-items: center;
    padding-bottom: 192px;
  }
  
  .toprated-background {
    background: #e5e5e5;
  }
  
  .toprated-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
    justify-items: stretch;
  }
  
  .hot-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "emirate emirate emirate nebula"
      "egypt egypt maldives maldives"
      "tenerife tenerife britain britain"
      "ireland spain spain spain";
    grid-column-gap: 35px;
    grid-row-gap: 44px;
    width: 1168px;
    margin: 0 auto;
  }
  
  .emirate {
    grid-area: emirate;
    display: flex;
    height: 256px;
    background: #f9f7f7;
  }
  
  .emirate-info,
  .spain-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .emirate-title,
  .spain-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: #353a3d;
    padding: 41px 24px 14px 31px;
  }
  
  .emirate-subtitle,
  .spain-subtitle {
    font-size: 14px;
    line-height: 21px;
    padding: 0px 24px 40px 0;
    text-align: right;
    color: #5b6469;
  }
  
  .nebula {
    grid-area: nebula;
    background: #f9f7f7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  }
  
  .nebula-title,
  .ireland-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353a3d;
    padding: 8px 0px;
  }
  
  .egypt {
    grid-area: egypt;
    background: #f9f7f7;
  }
  
  .egypt-title,
  .maldives-title,
  .tenerife-title,
  .britain-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353a3d;
    margin: 14px 14px 15px 0px;
  }
  
  .egypt-subtitle,
  .maldives-subtitle,
  .tenerife-subtitle,
  .britain-subtitle {
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5b6469;
    margin-right: 14px;
  }
  
  .maldives {
    grid-area: maldives;
    background: #f9f7f7;
  }
  
  .tenerife {
    grid-area: tenerife;
    background: #f9f7f7;
  }
  
  .britain {
    grid-area: britain;
    background: #f9f7f7;
  }
  
  .ireland {
    grid-area: ireland;
    background: #f9f7f7;
    margin-bottom: 77px;
  }
  
  .spain {
    grid-area: spain;
    display: flex;
    height: 256px;
    background: #f9f7f7;
    margin-bottom: 77px;
  }
  
  .footer-section {
    background: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  
  .footer-title {
    padding: 30px 0px;
  }
  
  .footer-title {
    font-size: 13px;
    color: #fff;
  }
  
  .footer-logo {
    display: flex;
    align-items: flex-start;
  }
  